body
	background-image url('images/backsite1.png')
	background-repeat no-repeat
	background-position center top
div.container
	min-height 600px
	border 1px solid red
	width 1170px
	margin 0 auto
div.content
	margin-top 91px
	border 1px solid blue
	min-height 430px
div.content > *
	border 1px dashed black
section.currentPage
	width 150px
	height 53px
	margin-top 17px
	line-height 43px
	text-align center
div.content > div > *
	border 1px dotted #390
section.myPic
	height 350px
	width 270px
	float left
section.myDet
	float right
	height 270px
	width 340px
	margin-right 130px
div.myInfo
	height 290px
	margin-left 275px
	margin-right 475px
div.myInfo > *
	border 1px solid yellow
	padding-left 20px
div.myInfo > h2
	margin-top 15px
	height 70px
div.myInfo > p
	height 65px
div.myInfo > h3
	font-size 16px
div.figures
	height 55px
	width 280px
div.figures figure
	float left
	height 49px
	width 49px
	border 1px solid #909
	margin-right 5px
	margin-top 2px
	