body
	background-image url('images/backsite1.png')
	background-repeat no-repeat
	background-position center top
div.container
	min-height 600px
	border 1px solid red
	width 1170px
	margin 0 auto
header
	border 1px solid blue
	width 730px
	height 65px
	margin-top 25px
header > nav,
header > div
	border 1px dashed black
header nav
	width 470px
	height 60px
	float left
header div
	margin-left 500px
header div > *
	border 1px dashed green
header h1
	height 25px
	line-height 25px
	font-size 28px
	margin-top 10px
header h2
	font-size 10px
	margin-top -11px
	height 13px
	margin-bottom 0