body
	background-image url('images/backsite2.png')
	background-repeat no-repeat
	background-position center top
div.container
	min-height 580px
	border 1px solid red
	width 1170px
	margin 0 auto
div.container > *
	border 1px dashed blue
section.currentPage
	width 145px
	height 53px
	margin-top 110px
	line-height 43px
	text-align center
div.content
	margin-top 10px
section.map
	float left
	width 675px
	height 405px
	border 1px dotted black
section.map > p
	margin-top 0
	border 1px solid #390
section.map > div
	margin-top 10px
	height 360px
	border 1px solid #390
section.contactMe
	margin-left 700px
	height 405px
	border 1px dotted black
section.contactMe > p
	border 1px solid #390
	margin-top 0
section.contactMe > div
	margin-top 10px
	height 360px
	border 1px solid #390