<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>About me</title>
	<link rel="stylesheet" href="../../style.css" type="text/css" />
</head>
<body>
	<div class="container">
		<div class="content">
			<section class="currentPage f11">ABOUT ME</section>
			<div class="cover">
				<section class="myPic"></section>
				<section class="myDet"></section>
				<div class="myInfo">
					<h2>about your self</h2>
					<p>this is a pragraph</p>
					<h3>social links!</h3>
					<div class="figures">
						<figure>f</figure>
						<figure>t</figure>
						<figure>in</figure>
						<figure>g</figure>
						<figure>v</figure>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>