nav{
	width: 900px;
	height: 150px;
	margin: 0 auto;
	border: 1px dashed black;
}
li{
	float: left;
	list-style-type: none;
	font-size: 20px;
	cursor: pointer;
	width: 100px;
	-webkit-transition: all 250ms;
	   -moz-transition: all 250ms;
	    -ms-transition: all 250ms;
	     -o-transition: all 250ms;
	        transition: all 250ms;
	color:#444;
	text-shadow: 0px 1px 2px #bbb;
	margin: 0px 20px 0px 0;
}
li:hover{
	background-color: #FFE14F;
	-webkit-border-radius: 50px;
	        border-radius: 50px;
}
.ribbon {
 	width: 500px;
	height: 55px;    
 	background-color: #f3f3f3;
 	color: #161616;
 	text-align: center;
	line-height: 55px;
	margin: 30px auto;
	position: relative;
	-webkit-box-shadow: 0px 2px 4px #888;
	-moz-box-shadow: 0px 2px 4px #888;
}
.ribbon:before, .ribbon:after {
 content: "";
 position: absolute;
 display: block;
 bottom: -20px;
 border: 25px solid #f3f3f3;
 z-index: -1;
}
.ribbon:before {
 left: -40px;
 border-right-width: 35px;
 border-left-color: transparent;
}
.ribbon:after {
 right: -40px;
 border-left-width: 35px;
 border-right-color: transparent;
}
li:before, li:after {
 content: "";
 position: absolute;
 display: block;
 border-style: solid;
 border-color: #a9a9a9 transparent transparent transparent;
 bottom: -20px;
}
li:before {
 left: 0;
 border-width: 20px 0 0 20px;
}
li:after {
 right: 0;
 border-width: 20px 20px 0 0;
}