*{
	margin: 0;
	padding: 0;
}
div.container{
	width: 1170px;
	height: 800px;
	border: 1px solid black;
	margin: 0 auto;
	overflow: hidden;
}
nav menu{
	width: 550px;
	height: 50px;
	margin: 20px auto;
	border: 1px dashed red;
	line-height: 50px;
	z-index: 1;
}
nav li{
	float: left;
	margin-left: 40px;
	list-style-type: none;
	cursor: pointer;
	width: 90px;
}
div.OH{
	min-height: 550px;
	border:1px solid red;
	position: relative;
	overflow: hidden;
}
div#slider{
	position: absolute;
	-webkit-transition: all 1500ms;
	   -moz-transition: all 2s;
	    -ms-transition: all 2s;
	     -o-transition: all 2s;
	        transition: all 2s;
}
div.page2{
	top: -1215px;
	left: 885px;
	-webkit-transform: rotate(90deg);
	   -moz-transform: rotate(90deg);
	    -ms-transform: rotate(90deg);
	     -o-transform: rotate(90deg);
	        transform: rotate(90deg);
}
div.page3{
	left: -3705px;
	top: -250px;
	-webkit-transform: scale(2,2);
	   -moz-transform: scale(2,2);
	    -ms-transform: scale(2,2);
	     -o-transform: scale(2,2);
	        transform: scale(2,2);
}
div.page4{
	left: -2015px;
	top: 8780px;
	-webkit-transform: rotate(270deg) scale(4,4);
	   -moz-transform: rotate(90deg);
	    -ms-transform: rotate(90deg);
	     -o-transform: rotate(90deg);
	        transform: rotate(90deg);
}
div.pages{
	position: absolute;
	opacity: .5;
}
div.aboutme{
	min-height: 500px;
	width: 1170px;
	line-height: 500px;
	background-color: darkmagenta;
	color: #fff;
	text-align: center;
	font-size: 62px;
}
div.resume{
	min-height: 600px;
	width: 1170px;
	line-height: 600px;
	background-color: darkorange;
	color: #fff;
	text-align: center;
	font-size: 62px;
	-webkit-transform: rotate(270deg);
	   -moz-transform: rotate(270deg);
	    -ms-transform: rotate(270deg);
	     -o-transform: rotate(270deg);
	        transform: rotate(270deg);
	top:0;
	right:-2100px;
}
div.portfolio{
	min-height: 700px;
	width: 1170px;
	line-height: 700px;
	background-color: #390;
	color: #fff;
	text-align: center;
	font-size: 62px;
	top: -50px;
	right: -2730px;
	-webkit-transform: scale(0.5,0.5);
	   -moz-transform: scale(0.5,0.5);
	    -ms-transform: scale(0.5,0.5);
	     -o-transform: scale(0.5,0.5);
	        transform: scale(0.5,0.5);
}
div.contactme{
	min-height: 400px;
	width: 1170px;
	line-height: 400px;
	background-color: darkred;
	color: #fff;
	text-align: center;
	font-size: 62px;
	-webkit-transform: rotate(90deg) scale(0.25,0.25);
	   -moz-transform: rotate(270deg);
	    -ms-transform: rotate(270deg);
	     -o-transform: rotate(270deg);
	        transform: rotate(270deg);
	top: 450px;
	right: -2730px;
}