*{
	padding: 0;
	margin: 0;
}
html, body {
  height: 100%;
}
.badboy{
	clear: both;
	overflow: hidden;
	float: none;
	outline: none !important;
	border:none;
	width: 0;
	height: 0;
}
body{
	background-color: #0293D2;
	background-image: url('images/backsite.png');
	background-position: center bottom;
	background-repeat: repeat-x;
	background-attachment: fixed;
	-ms-overflow-x: hidden;
	    overflow-x: hidden;
}
div.alpha{
	width: 1170px;
	position: absolute;
	top: 10px;
	bottom: 10px;
	left: 0;
	right: 0;
	margin: auto;
	background-color: #FFF;
	opacity: .8;
}
div.container{
	position: absolute;
	left: 0;
	right: 0;
	top: 10px;
	bottom: 10px;
	width: 1170px;
	margin: auto;
}
/* ============================= menu ========================= */
menu li{
	float: left;
	list-style-type: none;
	text-align: center;
	width: 100px;
	height: 45px;
	line-height: 45px;
	margin-right: 15px;
	cursor: pointer;
	-webkit-transition: all 500ms;
	   -moz-transition: all 500ms;
	    -ms-transition: all 500ms;
	     -o-transition: all 500ms;
	        transition: all 500ms;
	text-shadow: 1px 1px #333;
	font-size: 18px;
}
menu li:first-child{
	margin-left: 8px;
}
menu li:hover{
	background-color: #8BCEE9;
}
.active{
	background-color: #0293D2;
}
nav.ribbon {
	width: 505px; 
	position: relative;
	background: #363639;
	color: #fff;
	height: 45px;
	margin: 30px auto 48px;
	z-index: 1;
	padding-left: 45px;
}
nav.ribbon:before, nav.ribbon:after {
 content: "";
 position: absolute;
 bottom: -16px;
 border: 24px solid #363639;
 z-index: -1;
}
nav.ribbon:before {
 left: -40px;
 border-right-width: 32px;
 border-left-color: transparent;
}
nav.ribbon:after {
 right: -40px;
 border-left-width: 32px;
 border-right-color: transparent;
}
menu.ribbon-menu:before, menu.ribbon-menu:after {
 content: "";
 position: absolute;
 border-style: solid;
 border-color: #262633 transparent transparent;
 bottom: -16px;
}
menu.ribbon-menu:before {
 left: 0;
 border-width: 16px 0 0 16px;
}
menu.ribbon-menu:after {
 right: 0;
 border-width: 16px 16px 0 0;
}
/* =============== pages ================= */
div#ah{
	margin-top: 90px;
	width: 950px;
	height: 700px;
	margin: 0 auto;
	perspective:3000;
	-webkit-perspective:3000;
	   -moz-perspective:3000;
	    -ms-perspective:3000;
	     -o-perspective:3000;
}
div.pages{
	height: 700px;
	width: 950px;
	position: absolute;
	-webkit-transition: all 2850ms;
	   -moz-transition: all 2850ms;
	    -ms-transition: all 2850ms;
	     -o-transition: all 2850ms;
	        transition: all 2850ms;
}
/* ========================= about me ========================= */
div.about{
	-webkit-transform-origin: right;
	   -moz-transform-origin: right;
	    -ms-transform-origin: right;
	     -o-transform-origin: right;
	        transform-origin: right;
	z-index: 4;
	background-color: #fff;
}
.page2 div.about{
	-webkit-transform: rotateY(180deg);
	   -moz-transform: rotateY(180deg);
	opacity: 0;
}
.page3 div.about{
	-webkit-transform: rotateY(180deg);
	   -moz-transform: rotateY(180deg);
	opacity: 0;
}
.page4 div.about{
	-webkit-transform: rotateY(180deg);
	   -moz-transform: rotateY(180deg);
	opacity: 0;
}
h1.h1about{
	width: 150px;
	height: 45px;
	background-color: #0997E3;
	color: #fff;
	text-align: center;
	line-height: 45px;
	font-size: 26px;
	position: relative;
	margin-left: 10px;
	margin-top: 5px;
	text-shadow: 1px 1px 1px #333;
}
h1.h1about::before{
	width: 0;
	height: 0;
	border-right: 15px solid transparent;
	border-top: 15px solid #0997E3;
	position: absolute;
	content: "";
	bottom: -15px;
	left: 0;
}
div.about-content{
	min-height: 500px;
	margin-top: 35px;
	padding-top: 1px;
}
div.my-pic{
	float: left;
	width: 294px;
	height: 373px;
	background-image: url('images/profile-2.jpg');
}
div.my-details{
	float: right;
	width: 314px;
	min-height: 350px;
}
div.my-details li{
	min-height: 30px;
	line-height: 30px;
	margin-bottom: 25px;
	list-style-type: none;
	position: relative;
}
div.my-details li span:first-child{
	background-color: #0997E3;
	padding: 3px 5px;
	color:#fff;
	position: absolute;
}
div.my-details li span:first-child:after{
	width: 0;
	height: 0;
	border-right: 10px solid transparent;
	border-top: 8px solid #0997E3;
	position: absolute;
	content: "";
	top: 0;
	right: -10px;
}
div.my-details li span:last-child{
	font-size: 18px;
	position: absolute;
	top:5px
}
div.my-details li span.name{
	margin-left: 70px;
}
div.my-details li span.age{
	margin-left: 50px;
}
div.my-details li span.bp{
	margin-left: 120px;
}
div.my-details li span.address{
	margin-left: 90px;
	top: -10px;
}
div.my-details li span.em{
	margin-left: 70px;
}
div.my-details li span.pn{
	margin-left: 70px;
}
div.summary{
	float: none;
	margin: 0 320px 0 300px;
	min-height: 400px;
	padding: 10px 5px;
	line-height: 30px;
}
div.summary *{
	margin-bottom: 10px;
}
div.summary p{
	font-size: 18px;
}
div.summary div{
	height: 120px;
	margin-top: 30px;
}
div.summary div h3{
	font-size: 16px;
}
div.summary div figure{
	float: left;
	margin-right: 10px;
	margin-top: 10px;
}
figure.face a,
figure.google a,
figure.Twitt a,
figure.lin a{
	display: block;
	width: 64px;
	height: 64px;
}
figure.face{
	background-image: url('images/1362798376_social_facebook_box_blue.png');
	background-repeat: no-repeat;
}
figure.google{
	background-image: url('images/13.png');
	background-repeat: no-repeat;
}
figure.Twitt{
	background-image: url('images/social_twitter_box_blue.png');
	background-repeat: no-repeat;
}
figure.lin{
	background-image: url('images/social_linkedin_box_blue.png');
	background-repeat: no-repeat;
}
figure.face a img,
figure.google a img,
figure.Twitt a img,
figure.lin a img{
	opacity: 0;
	-webkit-transition: all 500ms;
	   -moz-transition: all 500ms;
	    -ms-transition: all 500ms;
	     -o-transition: all 500ms;
	        transition: all 500ms;
}
figure.face:hover a img,
figure.google:hover a img,
figure.Twitt:hover a img,
figure.lin:hover a img{
	opacity: 1;
}
/* =========================== resume =========================== */
div.resume{
	-webkit-transform-origin: right;
	   -moz-transform-origin: right;
	    -ms-transform-origin: right;
	     -o-transform-origin: right;
	        transform-origin: right;
	z-index: 3;
	background-color: #FFF;
}
.page3 div.resume{
	-webkit-transform: rotateY(180deg);
	   -moz-transform: rotateY(180deg);
	opacity: 0;
}
.page4 div.resume{
	-webkit-transform: rotateY(180deg);
	   -moz-transform: rotateY(180deg);
	opacity: 0;
}
h1.h1resume{
	position: relative;
	width: 150px;
	height: 45px;
	line-height: 45px;
	text-align: center;
	color:#fff;
	font-size: 26px;
	background-color: #0997E3;
	margin: 5px 0 0 10px;
	text-shadow: 1px 1px 1px #333;
}
h1.h1resume::before{
	position: absolute;
	width: 0;
	height: 0;
	border-right: 15px solid transparent;
	border-top: 15px solid #0997E3;
	position: absolute;
	content: "";
	bottom: -15px;
	left: 0;
}
div.resume-content{
	margin-top: 35px;
	min-height: 600px;
	padding-top: 1px;
}
div.resume-content>div{
}
div.skill-bars{
	float: right;
	width: 350px;
	min-height: 600px;
}
div.skills-floor1{
	padding-left: 5px;
	padding-right: 5px;
	min-height: 265px;
}
div.skills-floor1 h3{
	background-color: #000;
	color: #fff;
	height: 30px;
	line-height: 30px;
	text-align: center;
	width: 165px;
	font-size: 22px;
}
div.skills-floor2{
	padding-left: 5px;
	padding-right: 5px;
	min-height: 325px;
}
div.skills-floor2 h3{
	background-color: #000;
	color: #fff;
	height: 30px;
	line-height: 30px;
	text-align: center;
	width: 235px;
	font-size: 22px;
}
div.unit-bar{
	height: 50px;
	margin-top: 20px;
	border-left:1px solid #0997E3;
	padding-left: 5px;
}
div.unit-bar h4{
	margin-bottom: 5px;
	font-size: 18px;
}
div.bar1 .bar{
	background-color: #eee;
	height: 25px;
}
div.bar1 > .bar > div{
	background-color: #0997E3;
	height: 25px;
	width: 75%;
}
div.bar2 .bar{
	background-color: #eee;
	height: 25px;
}
div.bar2 > .bar > div{
	background-color: #0997E3;
	height: 25px;
	width: 80%;
}
div.bar3 .bar{
	background-color: #eee;
	height: 25px;
}
div.bar3 > .bar > div{
	background-color: #0997E3;
	height: 25px;
	width: 50%;
}
div.bar4 .bar{
	background-color: #eee;
	height: 25px;
}
div.bar4 > .bar > div{
	background-color: #0997E3;
	height: 25px;
	width: 100%;
}
div.bar5 .bar{
	background-color: #eee;
	height: 25px;
}
div.bar5 > .bar > div{
	background-color: #0997E3;
	height: 25px;
	width: 90%;
}
div.bar6 .bar{
	background-color: #eee;
	height: 25px;
}
div.bar6 > .bar > div{
	background-color: #0997E3;
	height: 25px;
	width: 80%;
}
div.bar7 .bar{
	background-color: #eee;
	height: 25px;
}
div.bar7 > .bar > div{
	background-color: #0997E3;
	height: 25px;
	width: 80%;
}
div.main-resumeContent{
	margin-right: 370px;
	min-height: 580px;
}
div.employment{
	min-height: 280px;
	padding-left: 5px;
	padding-right: 5px;
	min-height: 325px;
}
div.courses{
	min-height: 300px;
	padding-left: 5px;
	padding-right: 5px;
	min-height: 255px;
	margin-top: 20px;
}
div.employment h3{
	background-color: #000;
	color: #fff;
	height: 30px;
	line-height: 30px;
	text-align: center;
	width: 165px;
	font-size: 22px;
}
div.courses h3{
	background-color: #000;
	color: #fff;
	height: 30px;
	line-height: 30px;
	text-align: center;
	width: 120px;
	font-size: 22px;
}
div.jobs{
	border-left:1px solid #0997E3;
	min-height: 50px;
	margin-top: 20px;
}
div.cours{
	border-left:1px solid #0997E3;
	min-height: 50px;
	margin-top: 20px;
}
div.jobs h4{
	margin-left: 20px;
	font-size: 20px;
}
div.cours h4{
	margin-left: 20px;
	font-size: 20px;
}
div.jobs span{
	float: right;
	color:#999;
	font-size: 12px;
}
div.cours span{
	float: right;
	color:#999;
	font-size: 12px;
}
div.jobs h5{
	margin-left: 40px;
	margin-top: 10px;
	color:#999;
	font-size: 14px;
}
/* =========================== portfolio =========================== */
div.portfolio{
	background-color: darkred;
	-webkit-transform-origin: right;
	   -moz-transform-origin: right;
	    -ms-transform-origin: right;
	     -o-transform-origin: right;
	        transform-origin: right;
	z-index: 2;
	background-color: #FFF;
}
.page4 div.portfolio{
	-webkit-transform: rotateY(180deg);
	   -moz-transform: rotateY(180deg);
	opacity: 0;
}
h1.h1portfolio{
	position: relative;
	width: 200px;
	height: 45px;
	line-height: 45px;
	text-align: center;
	color:#fff;
	font-size: 26px;
	background-color: #0997E3;
	margin: 5px 0 0 10px;
	text-shadow: 1px 1px 1px #333;
}
h1.h1portfolio::before{
	position: absolute;
	width: 0;
	height: 0;
	border-right: 15px solid transparent;
	border-top: 15px solid #0997E3;
	position: absolute;
	content: "";
	bottom: -15px;
	left: 0;
}
div.portfolio-content{
	margin-top: 34px;
	height: 615px;
}
div.floors{
	height: 205px;
}
div.floors figure{
	width: 250px;
	height: 195px;
	float: left;
	margin-top: 9px;
	margin-left: 50px;
	cursor: pointer;
	position: relative;
}
div.floors figure div{
	background-color: #0997E3;
	opacity: 0;
	-webkit-transition: all 500ms;
	   -moz-transition: all 500ms;
	    -ms-transition: all 500ms;
	     -o-transition: all 500ms;
	        transition: all 500ms;
	width: 250px;
	height: 195px;
}
div.floors figure p{
	color:#fff;
	opacity: 0;
	text-shadow: 1px 1px 1px #333;
}
div.floors figure:hover div{
	opacity: 0.9;

}
div.floors figure:hover p{
	opacity: 1;
	position: absolute;
	bottom: 75px;
	left: 65px;
	font-size: 18px;
	font-weight: bold;
}
/* ========================= contact ============================= */
div.contact{
	background-color: #fff;
	-webkit-transform-origin: right;
	   -moz-transform-origin: right;
	    -ms-transform-origin: right;
	     -o-transform-origin: right;
	        transform-origin: right;
	z-index: 1;
}
h1.h1contact{
	position: relative;
	width: 130px;
	height: 45px;
	line-height: 45px;
	text-align: center;
	color:#fff;
	font-size: 26px;
	background-color: #0997E3;
	margin: 5px 0 0 10px;
	text-shadow: 1px 1px 1px #333;
}
h1::before{
	position: absolute;
	width: 0;
	height: 0;
	border-right: 15px solid transparent;
	border-top: 15px solid #0997E3;
	position: absolute;
	content: "";
	bottom: -15px;
	left: 0;
}
div.contact-contact{
	min-height: 450px;
	margin-top: 35px;
}
div.map{
	float: left;
	min-height: 375px;
	width: 550px;
}
div.form{
	float: none;
	min-height: 400px;
	margin-left: 580px;
}
div.main-contact h3{
	color:#222;
	margin-left: 5px;
	margin-bottom: 15px;
}
div.map > div{
	margin-top: 20px;
	height: 360px;
	border-left:5px solid #0997E3;
}
div.form ul{
	margin-top: 20px;
}
div.form li{
	list-style-type: none;
	color: #fff;
	margin-bottom: 70px;
}
.title {
display: inline-block;
padding: 2px 8px;
position: relative;
font-size: 90%;
background-color: #0997E3;
}
.title::after {
width: 0;
height: 0;
border-right: 8px solid transparent;
border-top: 8px solid #0997E3;
position: absolute;
content: "";
bottom: -8px;
left: 0;
z-index: 2;
}
input{
	height: 30px;
	position: absolute;
	width: 300px;
}
input#name{
	margin-top: 21px;
	margin-left: -55px;
}
input#email{
	margin-top: 21px;
	margin-left: -63px;
}
input#massage{
	margin-top: 21px;
	margin-left: -80px;
	height: 100px;
}
button{
	width: 120px;
	height: 40px;
	line-height: 40px;
	background-color: #0997E3;
	border:none;
	color:#fff;
	font-size: 20px;
	-webkit-transition: all 500ms;
	   -moz-transition: all 500ms;
	    -ms-transition: all 500ms;
	     -o-transition: all 500ms;
	        transition: all 500ms;
	margin-top: 45px;
	cursor: pointer;
}
button:hover{
	background-color: #222842;
}