<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Resume</title>
	<link rel="stylesheet" href="../../style.css" type="text/css" />
</head>
<body>
	<div class="container cover">
		<section class="currentPage f11">Resume</section>
		<div class="rightpanel">
			<div class="topskills">
				<section class="title1"></section>
				<section class="work1"></section>
				<section class="work1"></section>
				<section class="work1"></section>
				<section class="work1"></section>
			</div>
			<div class="bottomskills">
				<section class="title2"></section>
				<section class="work2"></section>
				<section class="work2"></section>
				<section class="work2"></section>
			</div>
		</div>
		<div class="leftpanel">
			<div class="empl">
				<section class="title3"></section>
				<div class="work3"></div>
				<div class="work3"></div>
				<div class="work3"></div>
			</div>
			<div class="educ">
				<section class="title4"></section>
				<div class="work4"></div>
				<div class="work4"></div>
			</div>
		</div>
		<section class="download">Download my Resume</section>
	</div>
</body>
</html>