<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>portfolio</title>
	<link rel="stylesheet" href="../../style.css" type="text/css" />
</head>
<body>
	<div class="containerP">
		<section class="currentPage"></section>
		<section class="category"></section>
		<div class="gallery">
			<div class="floor">
				<article></article>
				<article></article>
				<article></article>
				<article></article>
				<article></article>
			</div>
			<div class="floor">
				<article></article>
				<article></article>
				<article></article>
				<article></article>
				<article></article>
			</div>
			<div class="floor">
				<article></article>
				<article></article>
				<article></article>
				<article></article>
				<article></article>
			</div>
		</div>
	</div>
</body>
</html>